# List of books participating in the Wikisource anniversary contest of 2017.
#
# FORMAT
# book_name
#
# Empty lines or lines starting with "#" are ignored.

"Bandello - Novelle, Laterza 1910, I.djvu"
"Fior di Sardegna (Racconti).djvu"
"Racconti sardi.djvu"
"Slataper - Il mio carso, 1912.djvu"
"D'Annunzio - Il libro delle vergini.djvu"
"Basile - Lu cunto de li cunti, Vol.I.djvu"
"Zibaldone di pensieri IV.djvu"
"Zibaldone di pensieri V.djvu"
"Zibaldone di pensieri VI.djvu"
"Zibaldone di pensieri VII.djvu"
"Operette morali.djvu"
"Rime (Andreini).djvu"
"Rime (Cavalcanti).djvu"
"Eneide (Caro).djvu"
"Commedia - Inferno (Buti).djvu"
"La Natura.djvu"
"Omero minore.djvu"
"Con gli occhi chiusi.djvu"
"Ultime lettere di Jacopo Ortis.djvu"
"Deledda - Il sigillo d'amore, 1926.djvu"
"Deledda - Le colpe altrui.djvu"
"Sino al confine.djvu"
"La capanna dello zio Tom, 1871.djvu"
"Serra - Scritti, Le Monnier, 1938, I.djvu"
"Rivista di Scienza - Vol. II.djvu"
"Vasco - Della moneta, 1788.djvu"
"Sopra lo amore.djvu"
"L'Anticristo.djvu"
"Il crepuscolo degli idoli.djvu"
"Bruno - Cena de le ceneri.djvu"
"Ecce Homo (1922).djvu"
"Saul.djvu"
"Verginia.djvu"
"Tebaldo e Isolina.djvu"
"Le nebule.djvu"
"Mirtilla.djvu"
"Le congreganti.djvu"
"Marinetti - La cucina futurista, 1932.djvu"
"Interiano - La vita et sito de Zychi, Aldo, 1502.djvu"
"Nicolò Toneatti - Guida del viaggiatore per la città e per li dintorni di Trento, 1837.djvu"
"Rosselli - Epulario, 1643.djvu"
"Fineo - Il rimedio infallibile.djvu"
"Trattato della neve e del bere fresco.djvu"
