# Confiuration file for the wscontest-votecounter script
# Wikisource anniversary contest of 2015.

[contest]
language = it

# Dates are in the format yyyy-mm-dd HH:MM:SS.
# Times are in UTC
start_date = 2015-11-23 00:00:00
end_date = 2015-12-08 23:59:59
